* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1350px;
    width: 35%;
    margin: 20px auto;
}

h1 {
    text-align: center;
    font-weight: 200;
}

.animation-background {
    background-image: url(image/bg.jpg);
    background-size: contain;
    height: 762px;
    width: 381px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.logo {
    margin: 20px 0 0 30%;
}

.logo img {
    height: 68px;
    width: 123px;
}

.table {
    position: absolute;
    bottom: 0;
    animation-name: table;
    animation-duration: 1s;
}

.table img {
    height: 107px;
    width: 380px;
}

@keyframes table {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.plate {
    position: absolute;
    left: -500px;
    bottom: 0;
    animation-name: plate;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

.plate img {
    height: 97px;
    width: 280px;
}

@keyframes plate {
    0% {
        left: -500px; 
    }
    25% {
        left: -19px;
    }
    50% {
        left: -19px;
    }
    75% {
        left: -19px;
    }
    100% {
        left: -500px; 
    }
}

.sonali-sad {
    position: absolute;
    right: -500px;
    bottom: 99px;
    animation-name: sonali;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
}

.sonali-sad img {
    height: 256px;
    width: 217px;
}

@keyframes sonali {
    0% {
        right: -500px; 
    }
    25% {
        right: 0px;
    }
    50% {
        right: 0px;
    }
    75% {
        right: 0px;
    }
    100% {
        right: -500px; 
    }
}

.boring {
    position: absolute;
    left: -500px;
    top: 23%;
    text-transform: capitalize;
    width: 30px;
    color: red;
    text-indent: 15px;
    animation-name: boring;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
}

@keyframes boring {
    0% {
        left: -500px; 
    }
    25% {
        left: 125px;
    }
    50% {
        left: 125px;
    }
    75% {
        left: 125px;
    }
    100% {
        left: -500px; 
    }
}

.sandwich1 {
    position: absolute;
    bottom: 20px;
    left: -25px;
}

.sandwich1 img {
    height: 99px;
    width: 202px;
}

.sandwich2 {
    position: absolute;
    bottom: 49px;
    left: 10px;
}

.sandwich2 img {
    height: 31px;
    width: 151px;
}

.sandwich3 {
    position: absolute;
    bottom: 64px;
    left: 17px;
    animation-name: sandwich3;
    animation-duration: 2s;
    animation-delay: 6s;
}

@keyframes sandwich3 {
    0% {
        bottom: 64px; 
    }
    50% {
        bottom: 91px; 
    }
    100% {
        bottom: 64px; 
    }
}

.sandwich3 img {
    height: 31px;
    width: 151px;
}

.whole-sandwich {
    position: absolute;
    transform: translateX(-500px);
    bottom: 16px;
    left: -5px;
    animation-name: whole-s;
    animation-duration: 11s;
    animation-delay: 3s;
}

@keyframes whole-s {
    0% {
        transform: translateX(-500px);
    }
    25% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-500px);
    }
}

.mayo {
    position: absolute;
    bottom: 56px;
    left: 17px;
    opacity: 0;
    animation-name: mayo;
    animation-delay: 6s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes mayo {
    from {
        opactiy: 0;
    }
    to {
        opacity: 1;
    }
}

.mayo img {
    height: 31px;
    width: 151px;
}

.knife {
    position: absolute;
    bottom: 60px;
    left: 21px;
    opacity: 0;
    animation-name: knife;
    animation-delay: 6s;
    animation-duration: 2s;
}

@keyframes knife {
    0% {
        left: 21px;
        opacity: 0; 
    }
    50% {
         opacity: 1;
    }
    100% {
        left: 131px;
        opacity: 0;  
    }
}

.knife img {
    transform: rotatex(180deg);
}

.sonali-happy {
    position: absolute;
    right: -500px;
    bottom: 106px;
    animation-name: sonali-happy;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-timing-function: linear;
}

.sonali-happy img {
    height: 256px;
    width: 217px;
}

@keyframes sonali-happy {
    0% {
        right: -500px; 
    }
    25% {
        right: 0px;
    }
    50% {
        right: 0px;
    }
    75% {
        right: 0px;
    }
    100% {
        right: -500px; 
    }
}

.line {
    display: block;
    text-transform: capitalize;
    color: red;
}

.ban-gaya {
    position: absolute;
    left: -500px;
    top: 23%;
    animation-name: bangaya;
    animation-duration: 3s;
    animation-delay: 7s;
    animation-timing-function: linear;
}

@keyframes bangaya {
    0% {
        left: -500px; 
    }
    25% {
        left: 125px;
    }
    50% {
        left: 125px;
    }
    75% {
        left: 125px;
    }
    100% {
        left: -500px; 
    }
}

.chef {
    position: absolute;
    right: -500px;
    bottom: 106px;
    animation-name: chef;
    animation-duration: 3s;
    animation-delay: 9s;
    animation-timing-function: linear;
}

.chef img {
    height: 256px;
    width: 217px;
}

@keyframes chef {
    0% {
        right: -500px; 
    }
    25% {
        right: 0px;
    }
    50% {
        right: 0px;
    }
    75% {
        right: 0px;
    }
    100% {
        right: -500px; 
    }
}

.capital {
    text-transform: uppercase;
}

.funfoods {
    position: absolute;
    left: -500px;
    top: 23%;
    animation-name: funfoods;
    animation-duration: 3s;
    animation-delay: 9s;
    animation-timing-function: linear;
}

@keyframes funfoods {
    0% {
        left: -500px; 
    }
    25% {
        left: 67px;
    }
    50% {
        left: 67px;
    }
    75% {
        left: 67px;
    }
    100% {
        left: -500px; 
    }
}

.magic-daalo {
    position: absolute;
    left: -500px;
    top: 23%;
    animation-name: magic-daalo;
    animation-duration: 2s;
    animation-delay: 11.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes magic-daalo {
    0% {
        left: -500px; 
    }
    25% {
        left: 108px;
    }
    50% {
        left: 108px;
    }
    100% {
        left: 108px; 
    }
}

.veg-mayo {
    position: absolute;
    right: -500px;
    bottom: 42px;
    animation-name: veg-mayo;
    animation-duration: 2s;
    animation-delay: 11.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes veg-mayo {
    0% {
        right: -500px; 
    }
    25% {
        right: 132px;
    }
    50% {
        right: 132px;
    }
    100% {
        right: 132px; 
    }
}

.hat {
    position: absolute;
    left: -500px;
    top: 169px;
    animation-name: hat;
    animation-duration: 2s;
    animation-delay: 13.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes hat {
    0% {
        left: -500px;
        top: 169px;
    }
    50% {
        left: 144px;
        top: 386px;
    }
    100% {
        left: 144px;
        top: 454px;
    }
}

.get-recipe {
    text-decoration: none;
    color: white;
    background-color: rgb(40, 0, 104);
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 30px 10px 30px;
    font-family: sans-serif;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: -500px;
    animation-name: get-recipe;
    animation-duration: 1s;
    animation-delay: 14.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes get-recipe {
    from {
        top: 0px;
        left: -500px;
    }
    to {
        top: 311px;
        left: 117px;
    }
}